## Assignment: Feature Engineering-1

### Q1: What are missing values in a dataset? Why is it essential to handle missing values? Name some algorithms that are not affected by missing values.

**Ans:** Missing value in a dataset is a null value that occurs when some of the information is not stored for a variable in a dataset. 

It is essential to handle the missing value because a dataset with missing value will lead to low accuracy.

KNN and Random forest algorithm are not affected by missing values.

### Q2: List down techniques used to handle missing data. Give an example of each with python code.

**Ans:**

In [1]:
import seaborn as sns

df=sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [19]:
# 1. Replace all the Null value with mean,median or mode

df['age'].fillna(df['age'].mean())
df['age'].fillna(df['age'].median())
df['age'].fillna(df['age'].mode())

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [20]:
# 2. droping null values
df.dropna()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,1,1,female,47.0,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False
872,0,1,male,33.0,0,0,5.0000,S,First,man,True,B,Southampton,no,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True

### Q3: Explain the imbalanced data. What will happen if imbalanced data is not handled?

**Ans:**
A dataset is said to imbalanced if there is a huge difference in the value counts of data of different categories.
If the imbalanced dataset is not handled then it lead the model to go bias and affect its accuracy.

### Q4: What are Up-sampling and Down-sampling? Explain with an example when up-sampling and down- sampling are required.

**Ans:**
1. Up-sampling (Upscaling):
    Up-sampling involves increasing the resolution of a signal, image, or dataset. This is typically done by inserting new data points or expanding the existing ones. The purpose of up-sampling is often to increase the size or quality of the data, or to prepare it for further processing.
    
    Example - Image Upscaling:
    Suppose you have a low-resolution image, let's say a 100x100 pixel image, which appears pixelated and lacks fine details. To enhance the image quality and make it more visually appealing, you may want to up-sample it to a higher resolution, such as 400x400 pixels. One common technique for up-scaling is using interpolation, such as bilinear or bicubic interpolation, which estimates the missing pixel values based on the surrounding pixels. This process results in a smoother and more detailed image.

2. Down-sampling (Downscaling):
    Down-sampling involves reducing the resolution of a signal, image, or dataset by removing some of the data points. The purpose of down-sampling is often to reduce the data size, simplify the data, or to prepare it for specific applications with lower resolution requirements.
    
    Example - Audio Down-sampling:
    Consider a high-quality audio recording with a sample rate of 96,000 Hz. This high sample rate captures a wide range of frequencies, including inaudible ones. However, if you want to transmit this audio over the internet or store it on a device with limited storage, you might choose to down-sample the audio to a lower sample rate, say 44,100 Hz, which is the standard for CDs. By doing so, you can reduce the file size while still maintaining a reasonable audio quality for most listeners.

### Q5: What is data Augmentation? Explain SMOTE.

**Ans:** Data augmentation is a technique used in machine learning and data analysis to artificially increase the size of a dataset by creating modified versions of the existing data. 

SMOTE (Synthetic Minority Over-sampling Technique) is a specific data augmentation technique designed to address class imbalance in classification problems. Class imbalance occurs when one class in the dataset has significantly fewer instances than the other classes, leading to biased learning and poor performance for the minority class.

### Q6: What are outliers in a dataset? Why is it essential to handle outliers?

**Ans:** Outliers are data points in a dataset that significantly deviate from the rest of the data. They are observations that lie at an abnormal distance from other data points and can potentially introduce noise, bias, or affect the overall statistical analysis of the data. 

Handling outliers is essential because:

1. Outliers can significantly skew summary statistics, distorting the data's overall distribution.
2. They can adversely affect the performance of machine learning models, leading to inaccurate predictions.
3. Outliers can bias data analysis, leading to misleading conclusions and incorrect insights.
4. Handling outliers improves model robustness and the accuracy of statistical analysis.
5. It ensures that extreme values do not dominate the analysis and compromise the validity of results.

### Q7: You are working on a project that requires analyzing customer data. However, you notice that some of the data is missing. What are some techniques you can use to handle the missing data in your analysis?

**Ans:** Firstly i can drop the missing data if there are few in numvber but it cost the whole column of data and we cannot afford to do it, as it lead to delete the whole information of a customer.

We can replace the missing value of the particular column by mean, median or mode whichever is best suitable.

### Q8: You are working with a large dataset and find that a small percentage of the data is missing. What are some strategies you can use to determine if the missing data is missing at random or if there is a pattern to the missing data?

**Ans:** If the small percentage of data is missing and by dropping them cannot affect the accuracy of model then we can drop it but if it lead to affect then dropping the Null data will be worst choice, in that case we can replace the null value with mean, median, mode or if there exidt some pattern then we can replace it according to that pattern.

### Q9: Suppose you are working on a medical diagnosis project and find that the majority of patients in the dataset do not have the condition of interest, while a small percentage do. What are some strategies you can use to evaluate the performance of your machine learning model on this imbalanced dataset?

**Ans:** This is the scenerio of imbalanced dataset aand we have to handle it by applying imbalanced data handling method.

### Q10: When attempting to estimate customer satisfaction for a project, you discover that the dataset is unbalanced, with the bulk of customers reporting being satisfied. What methods can you employ to balance the dataset and down-sample the majority class?

**Ans:** We can use random undersampling to remove the instances from the majority class.

### Q11: You discover that the dataset is unbalanced with a low percentage of occurrences while working on a project that requires you to estimate the occurrence of a rare event. What methods can you employ to balance the dataset and up-sample the minority class?

**Ans:**

###

###