## Assignment: Feature Engineering-4

### Q1. What is data encoding? How is it useful in data science?

**Ans:** Data encoding involves converting a sequence of text characters into binary code.

Computer doesnot understand the human readable text, it operates on binary number so in order to process the data we need to first convert the text data into numerical data and it can be only achieved by Data encoding.

### Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

**Ans:**
One hot encoding, also known as nominal encoding, is a technique used to represent categorical data as numerical data, which is more suitable for machine learning algorithms. In this technique, each category is represented as a binary vector where each bit corresponds to a unique category. For example, if we have a categorical variable "color" with three possible values (red, green, blue), we can represent it using one hot encoding as follows:

1. Red: [1, 0, 0]
2. Green: [0, 1, 0]
3. Blue: [0, 0, 1]

In [2]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

## Create a simple dataframe 
df = pd.DataFrame({
    'color': ['red', 'blue', 'green', 'green', 'red', 'blue']
})

##create an instance of Onehotencoder
encoder=OneHotEncoder()

## perform fit and transform
encoder.fit_transform(df[['color']]).toarray()

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.]])

### Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

NOTE: Question is incorrect

### Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding technique would you use to transform this data into a format suitable for machine learning algorithms? Explain why you made this choice.

**Ans:** 
f I have a dataset containing categorical data with 5 unique values, I can use either ordinal encoding or one-hot encoding to transform this data into a format suitable for machine learning algorithms.

If the categorical variable has a natural order or ranking, then ordinal encoding can be used. If the categorical variable has no natural order or ranking, then one-hot encoding can be used.

In general, one-hot encoding is preferred over ordinal encoding because it does not assume any ordinal relationship between the categories and can be used for categorical variables with any number of unique values. However, one-hot encoding can lead to the curse of dimensionality if the number of unique values is very large.

Ordinal encoding is preferred when the number of unique values is large and one-hot encoding would lead to the curse of dimensionality.

### Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to transform the categorical data, how many new columns would be created? Show your calculations.

**Ans:** f I want to use nominal encoding to transform the categorical data, I would create a new column for each unique value in the categorical columns.

Let’s assume that the first categorical column has 12 unique values and the second categorical column has 5 unique values. Then, nominal encoding/one-hot encoding would create 12 + 5 = 17 new columns.

In general, if the first categorical column has n unique values and the second categorical column has m unique values, then nominal encoding would create n + m new columns.

### Q6. You are working with a dataset containing information about different types of animals, including their species, habitat, and diet. Which encoding technique would you use to transform the categorical data into a format suitable for machine learning algorithms? Justify your answer.

**Ans:** It is observed that variables species , habitat and diet are NOMINAL features with no natural order or ranking.
If the categorical variable has no natural order or ranking, then one-hot encoding can be used.
Hence One-Hot Encoding would be preffered in above case.

### Q7.You are working on a project that involves predicting customer churn for a telecommunications company. You have a dataset with 5 features, including the customer's gender, age, contract type, monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.

**Ans:** To transform the categorical data in the customer churn dataset into numerical data, you can use either ordinal encoding or one-hot encoding. If the categorical variable has a natural order or ranking, then ordinal encoding can be used. For example, if the dataset contains information about the contract type of the customers, such as “month-to-month”, “one year”, and “two year”, then ordinal encoding can be used to encode this information. If the categorical variable has no natural order or ranking, then one-hot encoding can be used. For example, if the dataset contains information about the gender of the customers, such as “male” and “female”, then one-hot encoding can be used to encode this information. Here are the steps to implement this encoding: Identify the categorical variables in the dataset. In this case, the categorical variables are the customer’s gender and contract type.

Seperate Nominal and Ordinal Variables. In this case Gender is an Nominal variable, while contract type is ordinal variable.

Apply One Hot Encoding to Nominal Variable in this case Gender Variable.

Apply Ordinal Encoding to Ordinal Variable in this case contract type variable.

Scale Numerical data using StandardScaler

Combine all 3 encoding into single dataframe

Data is now ready for machine learning model

Creating an example dataset for above and providing how to perform above in python.

In [3]:
# Generating Synthetic Dataset for above variables
import numpy as np
import pandas as pd

# Setting random seed 
np.random.seed(543)
n = 1000 # dataset size
gender = np.random.choice(['Male','Female'],size=n)
age = np.random.randint(low=25, high=65, size=n)
contract = np.random.choice(['monthly','quarterly','half yearly','yearly'], size=n)
monthly_charges = np.random.normal(loc=1000, scale=100,size=n)
tenure = np.random.randint(low=12, high=36, size=n)
churn = np.random.choice([1,0], p=[0.2,0.8], size=n)

# Creating dictionary
dct = {
    'gender':gender,
    'age':age,
    'contract':contract,
    'monthly_charges':monthly_charges,
    'tenure':tenure,
    'churn':churn
}

# Creating Dataframe
df = pd.DataFrame(dct)
df.head()

   gender  age     contract  monthly_charges  tenure  churn
0  Female   34       yearly      1042.202157      25      1
1  Female   36  half yearly       966.337735      12      1
2  Female   30       yearly      1165.040177      16      0
3  Female   44    quarterly      1002.266319      35      0
4    Male   53  half yearly      1043.851952      16      1

In [4]:
# Seperating X and Y
X = df.drop(labels=['churn'],axis=1)
Y = df[['churn']]