## Pandas Assignment 03

In [27]:
# Consider following code to answer further questions:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

### Q1. Write a code to print the data present in the second row of the dataframe, df.

In [22]:
df[1:2]

        course_name  duration
1  Machine Learning         3

### Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

**Ans:**

1. loc: The loc function is label-based and is primarily used for accessing data by label or by a boolean array. It allows you to access data based on the labels of rows and columns. When using loc, you provide the row and column labels as arguments to access specific data. It supports various indexing techniques such as single label, list of labels, boolean array, and slice notation. The syntax for loc is df.loc[row_label, column_label].


2. iloc: The iloc function is integer-based and is primarily used for accessing data by integer position or by a boolean array. It allows you to access data based on the integer positions of rows and columns. When using iloc, you provide the row and column indices as arguments to access specific data. It supports indexing techniques such as single integer, list of integers, boolean array, and slice notation. The syntax for iloc is df.iloc[row_index, column_index].

### Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

### Did you observe any difference in both the outputs? If so then explain it.

In [3]:
new_df = df.reindex(index = [3,0,1,2])
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [4]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [5]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Yes, there is differnce in output of 'loc' and 'iloc' because loc consider the given index and return the value according to that but 'iloc' consider the original index and return the value according to that.

In [6]:
# Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [7]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.747703  0.221345  0.408545  0.061285  0.329480  0.163771
2  0.476795  0.666265  0.119104  0.972212  0.138409  0.504211
3  0.521713  0.280124  0.680820  0.724542  0.859765  0.519732
4  0.918731  0.410963  0.200536  0.501990  0.745959  0.307402
5  0.096025  0.408156  0.391231  0.710748  0.813075  0.487869
6  0.989658  0.195162  0.771891  0.336710  0.895573  0.196760

### Q4. Write a code to find the following statistical measurements for the above dataframe df1:
#### (i) mean of each and every column present in the dataframe.
#### (ii) standard deviation of column, ‘column_2’

In [8]:
df1.mean()

column_1    0.625104
column_2    0.363669
column_3    0.428688
column_4    0.551248
column_5    0.630377
column_6    0.363291
dtype: float64

In [9]:
df1['column_2'].std()

0.17401741448113794

### Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2. If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [10]:
df1.loc[:,['column_2']] = "Vasu"

In [11]:
df1['column_2'].mean()

TypeError: Could not convert VasuVasuVasuVasuVasuVasu to numeric

we are getting error because we cannot find the mean of string

### Q6. What do you understand about the windows function in pandas and list the types of windows functions?

**Ans:** Window functions in Pandas are operations that perform calculations on a subset of data within a sliding or expanding window. They allow for computations like moving averages, cumulative sums, and rolling aggregations. Some common window functions in Pandas include `rolling()`, `expanding()`, `ewm()`, and `groupby()` with window operations. These functions provide flexibility in analyzing data over specific windows, enabling insights into trends and patterns.

### Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [12]:
current_date = pd.datetime.now()

C:\Users\Vasu Dev\AppData\Local\Temp\ipykernel_6136\4172215557.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  current_date = pd.datetime.now()

In [13]:
current_date.month

6

In [14]:
current_date.year

2023

### Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [15]:
date1 = input("Enter 1st date in YYYY-MM-DD format: ")
date2 = input("Enter 2nd date in YYYY-MM-DD format: ")

date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

time_diff = date2 - date1

days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds % 3600) // 60

print("Time difference: {} days, {} hours, {} minutes".format(days, hours, minutes))

Enter 1st date in YYYY-MM-DD format: 22-01-2023
Enter 2nd date in YYYY-MM-DD format: 23-02-2023
Time difference: 32 days, 0 hours, 0 minutes

C:\Users\Vasu Dev\AppData\Local\Temp\ipykernel_6136\2825707423.py:4: UserWarning: Parsing '22-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  date1 = pd.to_datetime(date1)
C:\Users\Vasu Dev\AppData\Local\Temp\ipykernel_6136\2825707423.py:5: UserWarning: Parsing '23-02-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  date2 = pd.to_datetime(date2)

### Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [17]:
file_path = input("Enter the file path: ")

df = pd.read_csv(file_path)

column_name = input("Enter the column name: ")

df[column_name] = pd.Categorical(df[column_name], ordered=True)


sorted_df = df.sort_values(column_name)


print(sorted_df)

Enter the file path: C:\Users\Vasu Dev\Desktop\Data Science Master\Jupyter Lab\Python Libraries\Pandas\Bike Prices.csv
Enter the column name: Brand
       Brand              Model  Selling_Price  Year Seller_Type      Owner  \
117   Activa          Activa 3g          45000  2018  Individual  1st owner
76    Activa          Activa 4g          40000  2019  Individual  1st owner
93    Activa          Activa 3g          17000  2010  Individual  1st owner
672  Aprilia     Aprilia SR 125          75000  2019  Individual  1st owner
892  Aprilia     Aprilia SR 125          65000  2018  Individual  1st owner
..       ...                ...            ...   ...         ...        ...
472   Yamaha  Yamaha FZ S V 2.0          90000  2018  Individual  1st owner
480   Yamaha      Yamaha Fazer           50000  2016  Individual  1st owner
429   Yamaha  Yamaha FZ S V 2.0          65000  2017  Individual  1st owner
530   Yamaha   Yamaha YZF R15 S          40000  2010  Individual  2nd owner
2         Yo           Yo Style          20000  2011  Individual  1st owner

     KM_Driven  Ex_Showroom_Price
117        500            54000.0
76        1300            51000.0
93      500000            52000.0
672       3500                NaN
892       6500                NaN
..         ...                ...
472      10500            87042.0
480       8000            88000.0
429      42000            84042.0
530      45000           117926.0
2        10000            37675.0

[1061 rows x 8 columns]

### Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [65]:
file_path = input("Enter the file path: ")

df = pd.read_csv(file_path)

Enter the file path: C:\Users\Vasu Dev\Desktop\Data Science Master\Assignment\Python Libraries\Pandas\Sales.csv

In [68]:
print(df.columns)

Index(['Product', 'Quantity_sales'], dtype='object')

In [73]:
x = input("Enter The name of Product Column: ")
y = input("Enter The name of sales Column : ")

Enter The name of Product Column: Product
Enter The name of sales Column : Quantity_sales

In [77]:
df['']

KeyError: 'Product'

In [76]:
df.plot.bar(x = x, y = y)

KeyError: 'Product'

### Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.
**The program should do the following**
-  Prompt the user to enter the file path of the CSV file containing the student dataR
-  Read the CSV file into a Pandas DataFrameR
-  Calculate the mean, median, and mode of the test scores using Pandas toolsR
-  Display the mean, median, and mode in a table.

In [44]:
file_path = input("Enter the file path: ")

df = pd.read_csv(file_path)

Enter the file path: C:\Users\Vasu Dev\Desktop\Data Science Master\Assignment\Python Libraries\Pandas\Student_data.csv

In [45]:
df

    Student_id  Test_Score
0            1          90
1            2          85
2            3          68
3            4          75
4            5          89
5            6          84
6            7          58
7            8          86
8            9          94
9           10          75
10          11          65
11          12          48
12          13          57
13          14          59
14          15          54

In [56]:
mean = df["Test_Score"].mean()
mode = int(df["Test_Score"].mode())
median = df["Test_Score"].median()

In [57]:
df1 = pd.DataFrame({"Statistic":['Mean', 'Mode', 'Median'], "Value":[mean, mode, median]})
df1

  Statistic      Value
0      Mean  72.466667
1      Mode  75.000000
2    Median  75.000000