## Assignment: SQL

#### Q.1 What is a database? Differentiate between SQL and NoSQL databases.

**Ans:**
A database is a structured collection of data that is organized, managed, and accessed electronically. It allows users to store, retrieve, and manipulate data efficiently. Databases are used in various applications, such as websites, business systems, scientific research, and more.



|                   | SQL Databases                                                    | NoSQL Databases                                                                 |
|-------------------|------------------------------------------------------------------|---------------------------------------------------------------------------------|
| Data Model        | Follows a rigid, predefined schema with tables, rows, and columns | Offers a flexible and dynamic schema, allowing for unstructured and semi-structured data |
| Query Language    | Uses Structured Query Language (SQL) for data manipulation        | Utilizes various query languages specific to the database or offers APIs/interfaces |
| Schema            | Enforces a predefined schema, ensuring data consistency           | Allows for schema flexibility and easy adaptation to evolving data requirements    |
| Scalability       | Vertical scaling (adding more resources to a single server)       | Horizontal scaling (distributed across multiple servers or clusters)              |
| Performance       | Well-suited for complex queries and joins                          | Designed for high-performance, handling large read and write loads                 |
| Transactions      | Supports ACID (Atomicity, Consistency, Isolation, Durability)     | Offers eventual consistency and tradeoffs between consistency and scalability     |
| Examples          | MySQL, PostgreSQL, Oracle Database, Microsoft SQL Server          | MongoDB, Cassandra, Couchbase, Redis                                               |

#### Q.2 What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

**Ans:** 
DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used to define and manage the structure of a database. DDL statements are responsible for creating, modifying, and deleting database objects such as tables, indexes, views, and constraints.

Here's an explanation of four commonly used DDL statements along with examples:

1. **CREATE**: The CREATE statement is used to create new database objects, such as tables, indexes, views, or procedures. It defines the structure and initial properties of the object.

   Example: Creating a table named "Employees" with columns for employee ID, name, and salary:
   
   ```sql
   CREATE TABLE Employees (
       EmployeeID INT,
       Name VARCHAR(50),
       Salary DECIMAL(10, 2)
   );
   ```

2. **DROP**: The DROP statement is used to remove database objects from the database. It permanently deletes the object and its associated data.

   Example: Dropping the "Employees" table:
   
   ```sql
   DROP TABLE Employees;
   ```

3. **ALTER**: The ALTER statement is used to modify the structure of an existing database object. It can be used to add, modify, or delete columns, constraints, or other properties of the object.

   Example: Adding a new column "Email" to the "Employees" table:
   
   ```sql
   ALTER TABLE Employees
   ADD Email VARCHAR(100);
   ```

4. **TRUNCATE**: The TRUNCATE statement is used to remove all data from a table while keeping its structure intact. Unlike the DROP statement, TRUNCATE only removes data, not the table itself.

   Example: Truncating the "Employees" table:
   
   ```sql
   TRUNCATE TABLE Employees;
   ```

These DDL statements are powerful tools for managing the structure and organization of a database. They allow database administrators and developers to create and modify tables, indexes, and other objects to suit the evolving needs of an application or system.

#### Q.3 What is DML? Explain INSERT, UPDATE, and DELETE with an example.

**Ans:**
DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to retrieve, insert, update, and delete data within a database. DML statements are responsible for modifying the data stored in the database tables.

Here's an explanation of three commonly used DML statements along with examples:

1. **INSERT**: The INSERT statement is used to add new records or rows into a table. It allows you to specify the values to be inserted into the columns of the table.

   Example: Inserting a new record into the "Employees" table with values for the "EmployeeID," "Name," and "Salary" columns:
   
   ```sql
   INSERT INTO Employees (EmployeeID, Name, Salary)
   VALUES (1, 'John Doe', 5000);
   ```

2. **UPDATE**: The UPDATE statement is used to modify existing records in a table. It allows you to change the values of one or more columns for specific rows based on certain conditions.

   Example: Updating the salary of an employee with the "EmployeeID" of 1 in the "Employees" table:
   
   ```sql
   UPDATE Employees
   SET Salary = 6000
   WHERE EmployeeID = 1;
   ```

3. **DELETE**: The DELETE statement is used to remove one or more records from a table. It allows you to specify conditions to identify the rows to be deleted.

   Example: Deleting all employees with a salary less than 3000 from the "Employees" table:
   
   ```sql
   DELETE FROM Employees
   WHERE Salary < 3000;
   ```

#### Q.4 What is DQL? Explain SELECT with an example.

**Ans:**
DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used for querying and retrieving data from a database. DQL focuses on retrieving specific information from one or more tables based on certain conditions.

The most commonly used DQL statement is **SELECT**. It allows you to retrieve data from one or more tables, specify filtering conditions, define the columns to be included in the result set, and perform various operations like sorting and grouping.

Here's an example of the SELECT statement:

Consider a table named "Employees" with columns "EmployeeID," "Name," "Department," and "Salary." To retrieve the names and salaries of employees who belong to the "Finance" department, you can use the SELECT statement as follows:

```sql
SELECT Name, Salary
FROM Employees
WHERE Department = 'Finance';
```

The result of the above query will be a list of names and salaries of employees who belong to the Finance department.

#### Q.5 Explain Primary Key and Foreign Key.

**Ans:**
**Primary Key:** A primary key is a column or a set of columns in a database table that uniquely identifies each record. It ensures uniqueness, non-null values, and provides efficient data retrieval.

**Foreign Key:** A foreign key is a column or a set of columns in a database table that establishes a link or relationship between two tables. It references the primary key of another table, creating a link between the two tables, enforcing data integrity, and maintaining referential integrity.

#### Q.6 Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test1")
mydb.close()

- **cursor()**: The `cursor()` method is used to create a cursor object in Python. The cursor object allows you to execute SQL queries and fetch the results. It serves as a control structure to interact with the database. Once the cursor object is created, you can use its methods to execute SQL statements, retrieve data, and perform other database operations.

- **execute()**: The `execute()` method is used to execute an SQL statement or query. It takes the SQL statement as a parameter and sends it to the database for execution. This method allows you to perform various database operations such as retrieving data, modifying data, creating database objects, and more. It returns the result of the executed statement, which can be fetched using other cursor methods. The `execute()` method is essential for executing SQL statements and interacting with the database using Python.

#### Q.7 Give the order of execution of SQL clauses in an SQL query.

**Ans:**
In an SQL query, the clauses are typically executed in the following order:

1. **FROM**: Specifies the table or tables from which the data will be retrieved.

2. **JOIN**: Performs any necessary table joins to combine data from multiple tables.

3. **WHERE**: Filters the rows based on specified conditions.

4. **GROUP BY**: Groups the rows based on specified columns.

5. **HAVING**: Filters the groups based on specified conditions.

6. **SELECT**: Specifies the columns to be included in the result set.

7. **DISTINCT**: Removes duplicates from the result set if specified.

8. **ORDER BY**: Sorts the result set based on specified columns and sort order.

9. **LIMIT / OFFSET**: Specifies the number of rows to be returned or the starting position of the result set.