# Assignment 2

Q1......

In [5]:
marks = int(input("Enter your marks : "))
if marks > 90:
    print("Grade : A")
elif marks>80 and marks<=90:
    print("Grade : B")
elif marks>=60 and marks<=80:
    print("Grade : C")
else:
    print("Grade : D")

Enter your marks : 75
Grade : C

Q2.....

In [9]:
price = int(input("Enter the cost price bof the Bike : "))
if price>100000:
    print("Raod Tax : 15%")
elif price>50000 and price<=100000:
     print("Raod Tax : 10%")
else:
     print("Raod Tax : 5%")

Enter the cost price of the Bike : 12345
Raod Tax : 5%

Q3....

In [22]:
city = input("Enter the Name of city : ").lower()
if city == "delhi":
    print("Monument in Delhi is Red Fort")
elif city == "agra":
    print("Monument in Agra is Taj Mahal")
elif city == "jaipur":
    print("Monument in Jaipur is Jal Mahal")
else:
    print("Enter the correct city Name")

Enter the Name of city : AgRa
Monument in Agra is Taj Mahal

Q4....

In [37]:
num = int(input("Enter a number : "))
count=0
while(True):
    num = num/3
    count+=1
    if num<=10:
        break
print(count)

Enter a number : 100
3

Q5...

In [40]:
'''
Instead of writing a line of code multiple times we use loop.
while loop is used when we don't know the number of iteration.
'''
# Example 
i =0
while (i<5):
    print("I am Your friend")
    i+=1

I am Your friend
I am Your friend
I am Your friend
I am Your friend
I am Your friend

Q6....

In [54]:
# Pattern : 1
n = int(input("Enter Number of row : "))
i = 0
while(i<=n):
    j = i
    while(j):
        print("*", end = "")
        j -=1
    i+=1
    print('\r')

Enter Number of row : 6

*
**
***
****
*****
******

In [55]:
# Pattern : 2
n = int(input("Enter Number of row : "))
i = n
while(i>=0):
    j = i
    while(j):
        print("*", end = "")
        j -=1
    i-=1
    print('\r')

Enter Number of row : 5
*****
****
***
**
*

In [63]:
# Pttern : 3
n = int(input("Enter Number of row : "))
i = 1
while i <= n:
    j = 1
    while j <= n - i:
        print(" ", end="")
        j += 1
    k = 1
    while k <= (2 * i - 1):
        print("*", end="")
        k += 1
    print()
    i += 1

i = n - 1
while i >= 1:
    j = 1
    while j <= n - i:
        print(" ", end="")
        j += 1
    k = 1
    while k <= (2 * i - 1):
        print("*", end="")
        k += 1
    print()
    i -= 1

Enter Number of row : 5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

Q7....

In [64]:
num = 10

while num >= 1:
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1

Q8...

In [65]:
num = 10

while num >= 1:
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1